/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 30px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    font-size: 1em;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

input[type="text"]:focus {
    border-color: #008cba;
}

button {
    padding: 10px 20px;
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #005f7f;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logo {
    margin: 10px;
}

.error-message {
    margin-top: 20px;
    background-color: #f8d7da;
    padding: 10px;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 5px;
}

.download-container {
    margin-top: 30px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}